@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
body,
html {
  height: 100%;
}
*,
html,
body {
  /* font-family: 'Space Mono', monospace; */
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
img {
  width: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: 'Orbitron', sans-serif;
  display: flex;
  background-color: black;
  color: white;
  background-image: url("./assets/imgs/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  overflow: hidden;
}
h1.header {
  text-align: center;
}
.left {
  width: 50vw;
  /* background-color: rgba(20, 255, 200, 0.5); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 20px;
}
button {
  position: relative;
  cursor: pointer;
  padding: 15px 40px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 55, 0);
  color: white;
  transition: box-shadow .1s;
}
button:hover{
  box-shadow: 3px 3px 3px rgb(255, 255, 255);
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  color: rgb(255, 55, 0);
  background-color: rgba(0, 0, 0, .6);
  padding: 10px;
  border-radius: 50%;
  border: 2px solid rgb(255, 55, 0);
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
}
.right {
  width: 50vw;
  display: flex;justify-content: center;
  align-items: center;
}
.rocket-container {
  position: relative;
  width: 200px;
  transform: translateY(120px);
}
.rocket {
  /* -webkit-filter: drop-shadow(5px 5px 5px #222); */
  filter: drop-shadow(5px 5px 5px #222);
}
.rocket-container.fly{
  animation: fly 8s;
  animation-fill-mode: forwards;
}
@keyframes fly {
  50%{
    transform: translateY(80px) rotate(-90deg);
  }
  100%{
    transform:  rotate(-90deg) translateY(-3000px);
  }
}
.fire {
  display: none;
}
.shake {
  animation: shake 0.1s infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.fire-center {
  position: absolute;
  width: 50px;
  left: 0;
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
  bottom: -170px;
}
.fire-start {
  width: 30px;
  position: absolute;
  left: 22px;
  bottom: -105px;
}
.fire-end{
  width: 30px;
  position: absolute;
  right: 22px;
  bottom: -105px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  height: 200px;
  background-color: #010c16;
  border: 2px solid rgb(255, 55, 0);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
}
.yes-btn {
  margin: 0 20px;
  padding: 10px 30px;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  border: none;
  border-radius: 7px;
  color: white;
  background-color: rgb(255, 55, 0);
  cursor: pointer;
  transition: transform .5s;
}
.no-btn {
  margin: 0 20px;
  padding: 10px 35px;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  border: none;
  border-radius: 7px;
  color: white;
  background-color: rgb(16, 149, 1);
  cursor: pointer;
  transition: transform .5s;
}
.no-btn:hover , .yes-btn:hover{
  transform: scale(1.2);
}
.dark {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.reset {
  background-color: rgb(16, 149, 1);
}
@media screen and (max-width: 520px) {
  .modal {
    width: 90%;
    height: auto;
  }
  .modal-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  .rocket-container.fly{
    animation: fly 5s;
    animation-fill-mode: forwards;
  }
  @keyframes fly {
    /* 50%{
      transform: translateY(80px);
    } */
    100%{
      transform: translateY(-3000px);
    }
  }
}
@media screen and (max-width: 340px) {
  .modal-btns {
    flex-direction: column;
  }
}